<div class="row cards">
    <div style="width: 18rem;" class="outSideCard card" *ngFor="let element of data; index as i">
        <nb-flip-card class="">
            <nb-card-front>
                <nb-card accent={{element.accent}} class="cardside">
                    <nb-card-body>
                        <img [src]="element.image" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-white">{{element.name}}</h5>
                            <p *ngIf="element.price" class="card-text text-white">Price: {{element.price}}</p>
                            <button class="btn btn-primary text-white" (click)="onView(i)">{{element.btn}}</button>
                        </div>
                    </nb-card-body>
                </nb-card>
            </nb-card-front>
            <nb-card-back>
                <nb-card class="cardside">
                    <nb-card-body>
                        <p title="{{element.description | description: 250}}">{{element.description | description: 250}}</p><br>
                        <span *ngIf="element.description.length > 250">
                          <button class="btn btn-primary text-white" (click)="onView(i)">...see more</button>
                        </span>
                    </nb-card-body>
                </nb-card>
            </nb-card-back>
        </nb-flip-card>
    </div>
</div>