/*.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

nb-card {
    border: none !important;
}


/* table {
    border-collapse: collapse;
    width: 100%;
} */


/* .store
th,
.store td {
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid#151A30;
} */

a {
    text-decoration: none;
}

.product {
    background-color: #151A30;
    border: 1px solid #222B45;
}