/*.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

nb-card {
    border: none !important;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid#151A30;
}

.card {
    background-color: transparent !important;
    border: none;
    margin-left: 2%;
}

:host /deep/ .flip-button {
    color: white;
    z-index: 0;
    margin-bottom: 20%;
}

.cardside {
    height: 92% !important;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}

a {
    text-decoration: none;
}