<nb-card>
    <nb-tabset>
        <nb-tab tabTitle="Garage Owner Information">
            <div>
                <nb-card>
                    <table class="table table-borderless" style="color: white; width: 20%;">
                        <tr>
                            <th> Name:</th>
                            <td>{{garageOwner.name}}</td>
                        </tr>
                        <tr>
                            <th>Phonenumber:</th>
                            <td> {{garageOwner.phonenumber}}</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td> {{garageOwner.email}}</td>
                        </tr>
                        <tr *ngIf="this.user.id != this.garageOwner.id && !isInContact && isLogin">
                            <th>Chat:</th>
                            <td> <button class="btn btn-primary text-white" role="button" (click)="onStartChat()">Start Chat</button>
                            </td>
                        </tr>
                        <tr *ngIf="this.user.id != this.garageOwner.id && isInContact && isLogin">
                            <th>Chat:</th>
                            <td> chat already exists!
                            </td>
                        </tr>

                    </table>

                </nb-card>
            </div>
        </nb-tab>
        <nb-tab tabTitle="Store Information">
            <div>
                <nb-card>
                    <table class="table table-borderless store" style="color: white;">
                        <tr>
                            <th scope="row"> Store name:</th>
                            <td scope="col">{{storeInfo.name}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Location:</th>
                            <td scope="col"> {{storeInfo.location}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Image:</th>
                            <td scope="col"> <img [src]="storeInfo.image" class="img-fluid rounded" alt="..." width="50%" height="50%">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Description:</th>
                            <td scope="col" style="width: 90%;">
                                <p> {{storeInfo.description}}</p>
                            </td>
                        </tr>

                    </table>


                </nb-card>
            </div>
        </nb-tab>

        <nb-tab tabTitle="Product" class="product" (click)="getCategories()">
            <label class="label" for="input-category">Select Category:</label>
            <nb-select placeholder="Select a Category" id="input-category" [(ngModel)]="categorySelected">
                <nb-option *ngFor="let item of categories" value="item">{{item.name}}</nb-option>
            </nb-select>
            <app-Card [data]="products"></app-Card>
        </nb-tab>

        <nb-tab tabTitle="Create Category" *ngIf="this.user.id == this.garageOwner.id">

            <nb-card [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="giant">
                <form ngForm (ngSubmit)="omSubmitCreateCategory()" #form="ngForm" aria-labelledby="title">
                    <div class="form-control-group">
                        <label class="label" for="input-name">Category Name:</label>
                        <input autofocus nbInput fullWidth [(ngModel)]="categoryCreator.name" #name="ngModel" name="name" type="text" id="input-name" placeholder="name" pattern="^[a-zA-Z_-\s]+$" fieldSize="large" [status]="name.dirty ? (name.invalid  ? 'danger' : 'success') : 'basic'"
                            [required]="true" min="1" max="1000" [attr.aria-invalid]="name.invalid && name.touched ? true : null">
                        <ng-container *ngIf="name.invalid && name.touched ">
                            <p class="caption status-danger" *ngIf="name.errors?.required">
                                Category Name is required!
                            </p>
                            <p class="caption status-danger" *ngIf="name.errors?.minlength || name.errors?.maxlength">
                                Category Name should contain from 3 to 64 characters
                            </p>
                        </ng-container>
                    </div>
                    <div class="form-control-group">
                        <label class="label" for="input-image">Iamge:</label>
                        <input nbInput fullWidth (ngModel)="image" #image="ngModel" name="image" (change)="processFile($event)" type="file" id="input-image" placeholder="Iamge" fieldSize="large" [status]="image.dirty ? (image.invalid  ? 'danger' : 'success') : 'basic'" [required]="true"
                            min="1" max="1000" [attr.aria-invalid]="image.invalid && image.touched ? true : null">
                        <ng-container *ngIf="image.invalid && image.touched">
                            <p class="caption status-danger" *ngIf="image.errors?.required">
                                Image is required!
                            </p>
                        </ng-container>

                        <img *ngIf="categoryCreator.image" [src]="categoryCreator.image" alt="Red dot" width="250px" height="250px">
                    </div>
                    <button nbButton status="primary" size="large" type="submit" [disabled]="!form.valid ">Create Category</button>
                </form>
            </nb-card>

        </nb-tab>

        <nb-tab tabTitle="Insert Product" *ngIf="this.user.id == this.garageOwner.id" (click)="getCategories()">

            <nb-card [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="giant">
                <form ngForm (ngSubmit)="omSubmitCreateCategory()" #form="ngForm" aria-labelledby="title">
                    <div class="form-control-group">
                        <label class="label" for="input-productType">Product Type:</label><br>
                        <nb-select placeholder="Select Product Type" #productType="ngModel" name="productType" [(ngModel)]="productCreator.productType" [status]="name.dirty ? (name.invalid  ? 'danger' : 'success') : 'basic'" name="productType" [attr.aria-invalid]="name.invalid && name.touched ? true : null"
                            required>
                            <nb-option value="Part">Part</nb-option>
                            <nb-option value="Accessory">Accessory</nb-option>
                            <nb-option value="Service">Service</nb-option>
                        </nb-select>
                        <ng-container *ngIf="name.invalid && name.touched">
                            <p class="caption status-danger" *ngIf="productType.errors?.required">
                                Product type is required!
                            </p>
                        </ng-container>
                    </div>
                    <div class="form-control-group">
                        <div class="form-control-group">
                            <label class="label" for="input-category">Select Category:</label><br>
                            <nb-select placeholder="Select a Category" id="input-category" #categoryId="ngModel" name="categoryId" [(ngModel)]="productCreator.categoryId" [status]="categoryId.dirty ? (categoryId.invalid  ? 'danger' : 'success') : 'basic'" name="categoryId" [attr.aria-invalid]="categoryId.invalid && categoryId.touched ? true : null"
                                required>
                                <nb-option *ngFor="let item of categories" value="item._id">{{item.name}}</nb-option>
                            </nb-select>
                            <ng-container *ngIf="categoryId.invalid && categoryId.touched">
                                <p class="caption status-danger" *ngIf="productType.errors?.required">
                                    Category is required!
                                </p>
                            </ng-container>
                        </div>
                    </div>
                    <div class="form-control-group">
                        <label class="label" for="input-Pname">Product Name:</label>
                        <input autofocus nbInput fullWidth [(ngModel)]="productCreator.name" #name="ngModel" name="Pname" type="text" id="input-Pname" placeholder="name" pattern="^[a-zA-Z_-\s]+$" fieldSize="large" [status]="name.dirty ? (name.invalid  ? 'danger' : 'success') : 'basic'"
                            [required]="true" min="1" max="1000" [attr.aria-invalid]="name.invalid && name.touched ? true : null">
                        <ng-container *ngIf="name.invalid && name.touched ">
                            <p class="caption status-danger" *ngIf="name.errors?.required">
                                Product Name is required!
                            </p>
                            <p class="caption status-danger" *ngIf="name.errors?.minlength || name.errors?.maxlength">
                                Product Name should contain from 3 to 64 characters
                            </p>
                        </ng-container>
                    </div>

                    <div class="form-control-group">
                        <label class="label" for="input-price">Price:</label>
                        <input nbInput fullWidth [(ngModel)]="productCreator.price" #price="ngModel" name="price" type="number" id="input-price" placeholder="Price" fieldSize="large" [status]="price.dirty ? (price.invalid  ? 'danger' : 'success') : 'basic'" [required]="true"
                            min="1" max="1000" [attr.aria-invalid]="price.invalid && price.touched ? true : null">
                        <ng-container *ngIf="price.invalid && price.touched">
                            <p class="caption status-danger" *ngIf="price.errors?.required">
                                Price is required!
                            </p>
                            <p class="caption status-danger" *ngIf="price.errors?.minlength || price.errors?.maxlength">
                                Price should be in range 0.00 to 1000
                            </p>

                            <p class="caption status-danger" *ngIf="price.errors?.pattern">
                                Price should be a number
                            </p>
                        </ng-container>
                    </div>
                    <div class="form-control-group">
                        <label class="label" for="input-amount">Amount:</label>
                        <input nbInput fullWidth [(ngModel)]="productCreator.amount" #amount="ngModel" name="amount" type="number" id="input-amount" placeholder="Amount" fieldSize="large" [status]="amount.dirty ? (amount.invalid  ? 'danger' : 'success') : 'basic'" [required]="true"
                            min="1" max="1000" [attr.aria-invalid]="amount.invalid && amount.touched ? true : null">
                        <ng-container *ngIf="amount.invalid && amount.touched">
                            <p class="caption status-danger" *ngIf="amount.errors?.required">
                                Amount is required!
                            </p>
                            <p class="caption status-danger" *ngIf="amount.errors?.minlength || amount.errors?.maxlength">
                                Amount should be in range 1 to 1000
                            </p>

                            <p class="caption status-danger" *ngIf="amount.errors?.pattern">
                                Amount should be a number
                            </p>
                        </ng-container>
                    </div>
                    <div class="form-control-group">
                        <label class="label" for="input-Pimage">Iamge:</label>
                        <input nbInput fullWidth (ngModel)="Pimage" #Pimage="ngModel" name="Pimage" (change)="processFile($event)" type="file" id="input-Pimage" placeholder="Iamge" fieldSize="large" [status]="Pimage.dirty ? (Pimage.invalid  ? 'danger' : 'success') : 'basic'"
                            [required]="true" min="1" max="1000" [attr.aria-invalid]="Pimage.invalid && Pimage.touched ? true : null">
                        <ng-container *ngIf="Pimage.invalid && Pimage.touched">
                            <p class="caption status-danger" *ngIf="Pimage.errors?.required">
                                Image is required!
                            </p>
                        </ng-container>

                        <img *ngIf="categoryCreator.image" [src]="categoryCreator.image" alt="Red dot" width="250px" height="250px">
                    </div>
                    <div class="form-control-group">
                        <label class="label" for="input-description">Description:</label>
                        <textarea nbInput fullWidth [(ngModel)]="productCreator.description" #description="ngModel" name="storedescription" id="input-description" placeholder="Description" fieldSize="large" [status]="description.dirty ? (description.invalid  ? 'danger' : 'success') : 'basic'"
                            [required]="true" [minlength]="8" [maxlength]="1000" [attr.aria-invalid]="description.invalid && description.touched ? true : null"></textarea>
                        <ng-container *ngIf="description.invalid && description.touched ">
                            <p class="caption status-danger" *ngIf="description.errors?.required">
                                Description is required!
                            </p>
                            <p class="caption status-danger" *ngIf="description.errors?.minlength || description.errors?.maxlength">
                                Description should contain from 8 to 1000 characters
                            </p>
                        </ng-container>
                    </div>
                    <button nbButton status="primary" size="large" type="submit" [disabled]="!form.valid ">Insert Product</button>

                </form>
            </nb-card>
        </nb-tab>
    </nb-tabset>
</nb-card>
